# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#libraries
/lib
/build
/benchmarks

# stats / test output
tests/traces/
heartbeat
*.swp
*.h5
*.sconsign.dblite

# out file
*.log*
out.cfg
/log

sample_single.sh
sample_double.sh
