sys = {
    cores = {
        coreA = {
            type = "SMT";
            dcache = "l1dA";
            icache = "l1iA";
		};
    };

    lineSize = 64;

    caches = {
        l1dA = {
            size = 65536;
        };
        l1iA = {
            size = 16384;
            //size = 32768;
            //size = 65536;
        };
        l2 = {
            caches = 1;
            size = 2097152;
            children = "l1iA|l1dA";
        };
    };
};

sim = {
    // Default amt of cycles until a "weave phase"
    // phaseLength = 10000;

    // TODO: Switch threads frequently, How?
    schedQuantum = 5000;

    // TODO: What is this?
    procStatsFilter = "l1.*|l2.*";

    // Log to file (makes info work), log/ is dir
	logToFile = true;

	// Global simulator heap size in MB (default is 1024MB)
    gmMBytes = 1024;

	// Enable remote GDB debugging
	enableDebugger = false;

	// Disble deadlock detection
	deadlockDetection = false;
};

process0 = {
	command = "./benchmark/i_cache_good";
	rob = 64;
};

process1 = {
	command = "./benchmark/i_cache_good";
	rob = 64;
};
# process1 = {
# 	command = "cat tests/config/smt.cfg";
#     // command = "ls -alh --color src/";
# };
# 
# process2 = {
# 	command = "echo 'Flushing, Queens!'";
# };
# 
# process3 = {
# 	command = "hostname -i";
# };
